.exify-overlay {
  transition: top 0.2s;
  position: fixed;
  font-family: 'Exify Font';
  line-height: normal !important;
  color: #fff !important;
  z-index: 2147483647;
}

.exify-overlay {
  animation: exify-fade-in 0.3s;
}

.exify-overlay-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.exify-overlay-content {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
}

.exify-overlay-content .exify-loader {
  margin-top: 15px;
}

.exify-overlay-settings-toggle {
  display: none;
  position: absolute;
  top: 20px;
  right: 24px;
  opacity: 0.6;
  cursor: pointer;
}

.exify-overlay-settings-toggle:hover {
  opacity: 1;
}

.exify-overlay-property-list {
  animation: exify-fade-in 0.2s;
  display: none;
  max-width: 100%;
  margin: 14px 74px 0;
  white-space: nowrap;
  overflow: hidden;
}

.exify-overlay-property-list > * {
  display: inline-block;
  text-align: left;
}

.exify-overlay-property-list > *:not(:first-child) {
  margin-left: 24px;
}

.exify-overlay--loaded .exify-overlay-property-list {
  display: block;
}

.exify-overlay--loaded .exify-overlay-settings-toggle {
  display: block;
}

.exify-overlay--loaded .exify-loader {
  display: none;
}

.exify-overlay--error .exify-loader {
  animation: exify-rotate 1s ease 1;
}

.exify-overlay--error .exify-overlay-content {
  animation: exify-grayscale 1s forwards;
}
