.exify-overlay {
  animation: exify-fade-in 0.3s;
  position: fixed;
  font-family: 'Exify Font';
  line-height: normal !important;
  color: #fff !important;
  line-height: normal;
  z-index: 2147483647;

  .exify-overlay--success {
    .exify-loader {
      margin-left: 15px;

      &:before {
        animation: exify-rotate 0s;
      }

      &:after {
        display: none;
      }
    }

    .exify-overlay-background {
      opacity: 0.7;
    }
  }

  .exify-overlay--error {
    .exify-loader {
      &:before {
        animation: exify-rotate 1s ease 1;
      }
    }

    .exify-overlay-content {
      animation: exify-grayscale 1s forwards;
    }
  }

  .exify-overlay-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
  }

  .exify-overlay-content {
    position: absolute;
    display: flex;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    align-items: center;

    .exify-loader {
      position: relative;
      margin-left: auto;

      &:after {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border-radius: 100px;
        background-color: #000;
        opacity: 0.7;
        z-index: -1;
      }
    }

    .exify-property-list {
      animation: exify-fade-in 0.2s;
      height: 34px;
      flex-wrap: wrap;
      overflow: hidden;

      > * {
        display: inline-block;
        text-align: left;
      }

      > *:not(:first-child) {
        margin-left: 24px;
      }
    }
  }
}
