.exify-overlay {
  position: fixed;
  font-family: 'Exify Font';
  line-height: normal !important;
  color: #fff !important;
  line-height: normal;
  z-index: 2147483647;

  /* States */
  .exify-overlay--success {
    .exify-loader {
      margin-left: 15px;

      &:before {
        animation: unset;
      }

      &:after {
        display: none;
      }
    }
  }

  .exify-overlay--error {
    .exify-loader {
      &:before {
        animation: exify-rotate 1s ease 1;
      }
    }

    .exify-overlay-content {
      animation: exify-grayscale 1s forwards;
    }
  }

  /* Background */
  .exify-overlay-background {
    animation: exify-fade-in-partial 0.3s forwards;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
  }

  /* Content */
  .exify-overlay-content {
    position: absolute;
    display: flex;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    align-items: center;

    .exify-loader {
      position: relative;
      margin-left: auto;

      &:after {
        content: '';
        animation: exify-fade-in-partial 0.3s forwards;
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        left: -2px;
        border-radius: 100px;
        background-color: #000;
        z-index: -1;
      }
    }

    .exify-property-list {
      animation: exify-fade-in 0.3s;
      flex-wrap: wrap;
      overflow: hidden;

      > * {
        display: inline-block;
        text-align: left;
      }

      > *:not(:first-child) {
        margin-left: 24px;
      }
    }
  }

  .exify-overlay--default {
    .exify-overlay-content {
      .exify-property-list {
        height: 34px;
      }
    }
  }

  .exify-overlay--compact {
    .exify-overlay-content {
      right: 7px;

      .exify-loader {
        width: 26px;
        height: 26px;
      }

      .exify-property-list {
        height: 17px;

        > *:not(:first-child) {
          margin-left: 8px;

          .exify-property-value {
            &:before {
              content: '•';
              padding-right: 6px;
              color: darken(white, 70);
            }
          }
        }

        .exify-property-value {
          font-size: 13px;
        }
      }
    }
  }
}
