.exify-overlay {
  position: fixed;
}

.exify-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}

.exify-content {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.exify-property-list {
  display: flex;
}

.exify-property-list > *:not(last-child) {
  margin-left: 20px;
}
