.exify-settings {
  transition: all 0.2s;
  width: 600px;
  padding: 20px 30px;
  font-family: 'Exify Font';
  border: 0;
  border-radius: 5px;
  background-color: #202225;
  color: #c4c4c4 !important;
  line-height: normal;

  transform: scale(0.7);
  opacity: 0;

  &::backdrop,
  & + .backdrop {
    transition: all 0.2s;
    opacity: 0;
  }

  &.exify-show {
    transform: scale(1);
    opacity: 1;

    &::backdrop,
    & + .backdrop {
      opacity: 1;
    }
  }

  .exify-settings-header {
    font-size: 18px;
  }

  .exify-settings-content {
    font-size: 14px;

    > div > div:first-child {
      width: 160px;
    }
  }

  .exify-settings-footer {
    font-size: 14px;
  }
}
