.exify-settings {
  transition: all 0.2s;
  box-sizing: content-box;
  width: 600px !important;
  padding: 20px 30px !important;
  font-family: 'Exify Font' !important;
  border: 0 !important;
  border-radius: 5px !important;
  background-color: #202225;
  color: #c4c4c4 !important;
  line-height: normal !important;

  transform: scale(0.7);
  opacity: 0;

  &::backdrop,
  & + .backdrop {
    transition: all 0.2s;
    opacity: 0;
  }

  & + .backdrop {
    animation: exify-fade-in 0.2s;
  }

  &.exify-show {
    transform: scale(1);
    opacity: 1;

    &::backdrop,
    & + .backdrop {
      opacity: 1;
    }
  }

  .exify-settings-header {
    font-size: 18px;
  }

  .exify-settings-content {
    font-size: 14px;

    > div > div:first-child {
      width: 160px;
    }

    .exify-settings-property-list {
      margin-bottom: -20px;
      padding-top: 20px !important;
      align-items: start;
      flex-wrap: wrap;

      .exify-settings-property {
        margin-bottom: 20px;
        flex-basis: 50%;
        flex-shrink: 0;

        .exify-property-value {
          .exify-icon {
            margin-top: 1px;
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }

  .exify-settings-footer {
    font-size: 14px;
  }
}
